<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" id="WebApp_ID"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<display-name></display-name>
	<!-- 通过上下文参数指定spring配置文件的位置 -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- spring上下文载入器监听器,确保web服务器启动时,完成spring容器的初始化 -->
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- openSessionInView过滤器,该过滤器必须在struts过滤器之前配置 <filter> <filter-name>openSessionInViewFilter</filter-name> 
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>openSessionInViewFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<!-- 配置struts2 filter -->
	
	<filter>
		<filter-name>action</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>action</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>